{
  "parser": "babel-eslint",
  "rules": {
    "quotes": [ 1, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 2, "always" ],
    "comma-dangle": [ 2, "always-multiline" ],
    "no-console": [ 2, { allow: ["info", "warn", "error"] }],
    "react/jsx-no-undef": 1
  },

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],

  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },

  "plugins": [
    "react"
  ]
}
