@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
@import "components/test.styl"

body
  margin 0px

.leftNavHeader
  display: flex
  flex-direction: row
  justify-content: flex-begin
  align-items: center
  margin-top 0px

  .avatar
    margin-left: 10px
    margin-right: 10px
