@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
@import "components/**/*"

html
  height 100%

body
  margin 0px
  height 100%

#example
  height 100%
  display flex
  flex-direction column

.app-container
  display flex
  flex-direction column
  flex-grow 1

.app-body
  display flex
  flex-direction column
  flex-grow 1
  margin 8px
  padding 48px 72px 48px 72px

.table-header-column-sort
  &:hover
    cursor pointer

.text-justify
  text-align justify

.card-image-wrap
  display flex
  flex-direction column

  & img
    width auto
    align-self center
